<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
    <title>Individual directory</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link th:href= "@{/css/mystyle.css}" rel="stylesheet" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>



<!-- Form 3 -->
<div class="form-3-container section-container section-container-image-bg">
    <div class="container">

        <div class="row">
            <div class="col-md-10 offset-md-1 form-3-box text-center wow fadeInUp">

                <form action="" method="post">
                    <!-- Current Occupation  -->
                    <fieldset >
                        <legend >Datos del Cliente</legend>

                        <table   >
                            <tbody><tr>
                                <td style="width: 10%; text-align: right" >
                                    <label id="LBLNombre" >Nombre del Cliente:</label>
                                </td>
                                <td style="width: 19%; text-align: left">
                                    <p th:text=${theIndividual.getCompleteName()}></p>
                                </td>
                                <td style="width: 15%; text-align: right ">
                                    <label id="LBLCorreo" >Correo:</label>
                                </td>
                                <td style="width: 15%; text-align: left">
                                    <p th:text=${theIndividual.getEmail()}></p>
                                </td>
                                <td style="width: 19%; text-align: right">
                                    <label id="LBLTipoPersona" >Tipo de Persona:&nbsp;</label>

                                </td>
                                <td style="width: 15%; text-align: left" >
                                    <p th:text=${theIndividual.getNameDoesBizActivities()}></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </fieldset>
                    <!-- Your Address  -->
                    <fieldset class="form-group p-3">
                        <legend class="w-auto px-2">Descripción de la Cotización</legend>

                        <table   >
                            <tbody><tr>
                                <td style="width: 10%; text-align: right" >
                                    <label id="LBLMarca" >Marca:</label>
                                </td>
                                <td style="width: 19%; text-align: left">
                                    <p th:text=${theBrands.getName(thePaymentCalculator.getBrandId())}></p>
                                </td>
                                <td style="width: 15%; text-align: right ">
                                    <label id="LBLSubMarca" >SubMarca:</label>

                                </td>
                                <td style="width: 15%; text-align: left">
                                    <p th:text=${theModels.getName(thePaymentCalculator.getModelId(),thePaymentCalculator.getBrandId())}></p>
                                </td>
                                <td style="width: 19%; text-align: right">
                                    <label id="LBLModelo" >Modelo:</label>
                                </td>
                                <td style="width: 15%; text-align: left" >
                                    <p th:text=${thePaymentCalculator.getYearVehicle()}></p>
                                </td>
                            </tr>
                            </tbody></table>
<t>
    Datos del Credito
</t>


                        <table   >
                            <tbody><tr>
                                <td style="width: 10%; text-align: right" >
                                    <label id="LBLTasa" >Tasa:</label>
                                </td>
                                <td style="width: 10%; text-align: left">
                                    <p th:text=${thePaymentCalculator.getRateValue()}></p>
                                </td>
                                <td style="width: 10%; text-align: right ">
                                    <label id="LBLPlazo" >Plazo:</label>

                                </td>
                                <td style="width: 10%; text-align: left">
                                    <p th:text=${thePaymentCalculator.getLoanTerm()}></p>
                                </td>
                                <td style="width: 10%; text-align: right">
                                    <label id="LBLPrecio" >Precio del Vehiculo:</label>
                                </td>
                                <td style="width: 10%; text-align: left" >
                                    <p th:text=${thePaymentCalculator.getVehiclePrice()} ></p>
                                </td>

                                <td style="width: 10%; text-align: right">
                                    <label id="LBLEnganche" >Enganche:</label>
                                </td>
                                <td style="width: 10%; text-align: left" >
                                    <p th:text=${thePaymentCalculator.getDownPayment()} ></p>
                                </td>

                                <td style="width: 10%; text-align: right">
                                    <label id="LBLMontoFinanciar" >Monto a Financiar:</label>
                                </td>
                                <td style="width: 10%; text-align: left" >
                                    <p th:text=${thePaymentCalculator.calculateAmountCredit()} ></p>
                                </td>

                            </tr>
                            </tbody></table>




                    </fieldset>
                    <!-- Job Preferences  -->
                    <fieldset class="form-group p-3">
                        <legend class="w-auto px-2">Pago inicial</legend>
                        <table class="table table-bodered table-striped">
                            <thead class ="table-dark">
                            <tr>
                                <th style="width: 10%; text-align: left">Concepto</th>
                                <th style="width: 25%; text-align: left"></th>
                                <th style="width: 10%; text-align: left"></th>
                                <th style="width: 15%; text-align: left">Importe</th>
                                <th style="width: 15%; text-align: left">Iva</th>
                                <th style="width: 15%; text-align: left">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="charges : ${theCharges2}">
                                <td th:text="${charges.getChargesId()}"/>
                                <td th:text="${theChargeService.getName(charges.getChargesId())}"/>
                                <td />
                                <td th:text="${charges.getChargeAmount()}"/>
                                <td th:text="${charges.getvATAmount()}"/>
                                <td th:text="${charges.getSumAmountAndVATAmount()}"/>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>

                </form>
                <!-- Submit Button  -->
                <div class="form-group row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-customized" onclick="myFunction()">Tabla de Amortización</button>
                    </div>
                </div>

                <div id="myDIV">
                    <h4>Tabla de Amortizacion </h4>
                    <p>Cotización</p>
                    <table class="table table-bodered table-striped">
                        <thead class ="table-dark">
                        <tr>
                            <th style="width: 10%; text-align: left">Renta</th>
                            <th style="width: 10%; text-align: left">Fecha</th>
                            <th style="width: 10%; text-align: left">Capital Inicial</th>
                            <th style="width: 10%; text-align: left">Pago (Interes + Capital)</th>
                            <th style="width: 10%; text-align: left">Interes </th>
                            <th style="width: 10%; text-align: left">Pago a Capital</th>
                            <th style="width: 10%; text-align: left">Capital Final</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="scheduledPayment : ${theScheduledPayment}">

                            <td th:text="${scheduledPayment.getPaymentNumber()}"/>
                            <td th:text="${#temporals.format(scheduledPayment.getDueDate(), 'dd-MM-yyyy')}"/>
                            <td th:text="${#numbers.formatCurrency(scheduledPayment.getContractInitialBalance())}"/>
                            <td th:text="${#numbers.formatCurrency(scheduledPayment.sumCapitalInterest(scheduledPayment.getCapitalAmount(),scheduledPayment.getInterestAmount()))}"/>
                            <td th:text="${#numbers.formatCurrency(scheduledPayment.getInterestAmount())}"/>
                            <td th:text="${#numbers.formatCurrency(scheduledPayment.getCapitalAmount())}"/>
                            <td th:text="${#numbers.formatCurrency(scheduledPayment.getContractFinalBalance())}"/>

                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
      var x = document.getElementById("myDIV");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }

        // Bloquea la tabla amortizacion al cargar la pagina.
        $(document).ready(function() {
               var x = document.getElementById("myDIV");
               if (x.style.display === "none") {
                   x.style.display = "block";
                 }
                 else {
                   x.style.display = "none";
               }
        });

</script>


</body>
</html>