<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Individual directory</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>


</head>
<body>

<!-- Form 3 -->
<div class="form-3-container section-container section-container-image-bg">
    <div class="container">

        <div class="row">
            <div class="col-md-10 offset-md-1 form-3-box text-center wow fadeInUp">

                <form action="" method="post">
                    <!-- Current Occupation  -->
                    <fieldset >
                        <legend >Datos del Cliente</legend>

                        <table  class="LetraNegra" >
                            <tbody><tr>
                                <td style="width: 10%; text-align: right" >
                                    <label id="LBLNombre" >Nombre del Cliente:</label>
                                </td>
                                <td style="width: 19%; text-align: left">
                                    <p th:text=${theIndividual.getCompleteName()}></p>
                                </td>

                                <td style="width: 15%; text-align: right ">
                                    <label id="LBLCorreo" >Correo:</label>
                                </td>
                                <td style="width: 15%; text-align: left">
                                    <p th:text=${theIndividual.getEmail()}></p>
                                </td>

                                <td style="width: 19%; text-align: right">
                                    Tipo de Persona:&nbsp;
                                </td>
                                <td style="width: 15%; text-align: left" >
                                    <p th:text=${theIndividual.getNameDoesBizActivities()}></p>
                                </td>
                            </tr>
                            </tbody></table>

                    </fieldset>
                    <!-- Your Address  -->
                    <fieldset class="form-group p-3">
                        <legend class="w-auto px-2">Descripción de la Cotización</legend>
                        <div class="form-group text-left">
                            <label >Marca:</label>
                            <p th:text=${theBrands.getName(thePaymentCalculator.getBrandId())}></p>
                        </div>

                        <div class="form-group text-left">
                            <label >SubMarca:</label>
                            <p th:text=${theModels.getName(thePaymentCalculator.getModelId(),thePaymentCalculator.getBrandId())}></p>
                        </div>
                        <div class="form-group text-left">
                            <label >Modelo:</label>
                            <p th:text=${thePaymentCalculator.getYearVehicle()}></p>
                        </div>

                        <div class="form-group text-left">
                            <label >Tasa:</label>
                            <p th:text=${thePaymentCalculator.getRateValue()}></p>
                        </div>

                        <div class="form-group text-left">
                            <label >Plazo:</label>
                            <p th:text=${thePaymentCalculator.getLoanTerm()}></p>
                        </div>

                        <div class="form-group text-left">
                            <label >Precio del Vehiculo:</label>
                            <p th:text=${thePaymentCalculator.getVehiclePrice()} ></p>
                        </div>

                        <div class="form-group text-left">
                            <label >Enganche:</label>
                            <p th:text=${thePaymentCalculator.getDownPayment()} ></p>
                        </div>
                        <div class="form-group text-left">
                            <label>Monto a Financiar:</label>
                            <p th:text=${thePaymentCalculator.calculateAmountCredit()} ></p>
                        </div>
                    </fieldset>
                    <!-- Job Preferences  -->
                    <fieldset class="form-group p-3">
                        <legend class="w-auto px-2">Job Preferences</legend>
                        <div class="form-group text-left">
                            <label for="preferences">Preferences:</label>
                            <textarea class="form-control preferences" id="preferences" placeholder="Preferences..." name="preferences"></textarea>
                        </div>
                        <div class="form-group text-left">
                            <label for="new-salary">New salary:</label>
                            <input type="text" class="form-control new-salary" id="new-salary" placeholder="New salary..." name="new-salary">
                        </div>
                    </fieldset>
                    <!-- Submit Button  -->
                    <div class="form-group row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary btn-customized">Send Application</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



</body>
</html>