<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>


    <meta charset="UTF-8">
    <title>Simulador de Credito</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <style>
        .error{color:red}
    </style>

    <link href="../bootstrap/custom.css" rel="stylesheet">

    <title>Add Form</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>

        <div class="row">
            <div class="col-md-10 offset-md-1 form-1-box wow fadeInUp">

                    <!-- User's Credentials  -->
                    <fieldset >
                        <legend >Datos del Cliente</legend>
                        <table >
                            <tbody><tr>
                                <td style="width: 10%; text-align: right" >
                                    <label id="LBLNombre" >Nombre del Cliente:</label>
                                </td>
                                <td style="width: 19%; text-align: left">
                                    <p th:text=${theIndividual.getCompleteName()}></p>
                                </td>
                                <td style="width: 15%; text-align: right ">
                                    <label id="LBLCorreo" >Correo:</label>
                                </td>
                                <td style="width: 15%; text-align: left">
                                    <p th:text=${theIndividual.getEmail()}></p>
                                </td>
                                <td style="width: 19%; text-align: right">
                                    <label id="LBLTipoPersona" >Tipo de Persona:&nbsp;</label>

                                </td>
                                <td style="width: 15%; text-align: left" >
                                    <p th:text=${theIndividual.getNameDoesBizActivities()}></p>
                                </td>
                            </tr>
                            </tbody></table>
                    </fieldset>
            </div>
        </div>


        <div class="row">
            <div class="col-md-10 offset-md-1 form-1-box wow fadeInUp">

            <form action="#" th:action="@{/creditos/auto/savePaymentCalculator}"  th:object="${thePaymentCalculator}" method="POST" >
                <!-- User's Preferences  -->
                    <fieldset class="form-group border p-3">
                        <legend class="w-auto px-2">Datos del Auto</legend>

                        <table   >
                            <tbody><tr>
                                <td style="width: 10%; text-align: right" >
                                    <label id="LBLYearVehicle" >Year Vehicle</label>
                                </td>
                                <td style="width: 19%; text-align: left">
                                    <select class="form-select form-select-sm" th:field="*{yearVehicle}">
                                        <option th:each="year:${theYearsVehicle}"
                                                th:text="${year}"
                                                th:value="${year}">Years
                                        </option>
                                    </select>
<!--                                    <div class="form-check form-check-inline" th:each="year : ${theYearsVehicle}">-->
<!--                                        <input class="form-check-input"-->
<!--                                               th:field="*{yearVehicle}"-->
<!--                                               th:value="${year}"-->
<!--                                               type="checkbox">-->
<!--                                        <label class="form-check-label"-->
<!--                                               th:for="${#ids.prev('yearVehicle')}"-->
<!--                                               th:text="${year}"/>-->
<!--                                    </div>-->

                                </td>
                                <span  th:if="${#fields.hasErrors('yearVehicle')}" th:errors="*{yearVehicle}" class="error"></span>

                                <td style="width: 15%; text-align: right ">
                                    <label id="LBLMarca" >Marca</label>
                                </td>
                                <td style="width: 15%; text-align: left">
                                    <select id="dropdownBrand" onchange="cargarProductos()" class="form-select form-select-sm" th:field="*{brandId}">
                                        <option th:each="brand:${theListOfBrands}"
                                                th:text="${brand.getName()}"
                                                th:value="${brand.getBrandId()}">Marca</option>
                                    </select>
                                </td>
                                <span  th:if="${#fields.hasErrors('brandId')}" th:errors="*{brandId}" class="error"></span>


                                <td style="width: 19%; text-align: right">
                                    <label id="LBLModelo" >Modelo:&nbsp;</label>

                                </td>
                                <td style="width: 15%; text-align: left" >
                                    <select id="dropdownModel" class="form-select form-select-sm" th:field="*{modelId}">
                                        <option th:each="model : ${theListOfModels}"
                                                th:text="${model.getName()}"
                                                th:value="${model.getModelId()}">Modelo</option>

                                        </option>
                                    </select>
                                    <span  th:if="${#fields.hasErrors('modelId')}" th:errors="*{modelId}" class="error"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </fieldset>
                <fieldset class="form-group border p-3">
                    <legend class="w-auto px-2">Datos del Credito</legend>
                        <table   >
                            <tbody><tr>
                                <td style="width: 10%; text-align: right" >
                                    <label id="LBLImporteFinanciar" >Importe a Financiar:</label>
                                </td>
                                <td style="width: 19%; text-align: left">
                                    <input type="text" th:field="*{vehiclePrice}"
                                           class="form-control form-control-sm" placeholder="Importe a Financiar">


                                </td>
                                <div>
                                    <span  th:if="${#fields.hasErrors('vehiclePrice')}" th:errors="*{vehiclePrice}" class="error"></span>
                                </div>


                                <td style="width: 15%; text-align: right ">
                                    <label id="LBLEnganche" >Enganche:</label>
                                </td>
                                <td style="width: 15%; text-align: left">
                                    <input type="text" th:field="*{downPayment}"
                                           class="form-control form-control-sm" placeholder="Enganche">
                                </td>
                                <div>
                                    <span  th:if="${#fields.hasErrors('downPayment')}" th:errors="*{downPayment}" class="error"></span>
                                </div>


                                <td style="width: 19%; text-align: right">
                                    <label id="LBLPlazo" >Plazo:&nbsp;</label>
                                </td>
                                <td style="width: 15%; text-align: left" >
                                    <select class="form-select form-select-sm" th:field="*{loanTerm}">
                                        <option th:value=12>12</option>
                                        <option th:value=24>24</option>
                                        <option th:value=36>36</option>
                                        <option th:value=48>48</option>
                                        <option th:value=60>60</option>
                                    </select>
                                </td>
                                <div>
                                    <span  th:if="${#fields.hasErrors('loanTerm')}" th:errors="*{loanTerm}" class="error"></span>
                                </div>


                            </tr>
                            </tbody>
                        </table>

                    </fieldset>

                <br>
                <br>
                <div>
                    <button  type="submit" class="btn btn-info col-2">Solicitar</button>
                </div>
                </form>
                <!-- Submit Button  -->

            </div>
        </div>

        <!-- Obtiene la lista de los modelos en base a la marca seleccionada  -->
    <script type="text/javascript">
        function cargarProductos() {
            var categoriaId = $("#dropdownBrand").val();
            alert("Hola ");
            $.ajax({
                type: "GET",
                url: "/creditos/auto/modelos/" + categoriaId,
                dataType: 'json',

                success: function(data) {

                    $('#dropdownModel').empty();


                    $.each(data, function(index, model) {
                        console.error('model.modelId ', model.modelId);
                        console.error('model.name ', model.name);

                        $('#dropdownModel').append('<option value=' + JSON.stringify(model.modelId) + '>'
                                                 +  JSON.stringify(model.name).replace(/\"/g, "") + '</option>');
                    });


                    slctSubcat.append(option);


                },
                error: function(err) {
                    console.error('Error al obtener productos:', err);
                }
            });
        }

        // Llamar a cargarProductos al cargar la página
<!--        $(document).ready(function() {-->
<!--            cargarProductos();-->
<!--        });-->
    </script>


    <hr>
    <a th:href="@{/individuals/list}">Back to Individuals List</a>

</body>
</html>